.navbar {
  padding: 0 0 4.5rem;
}
ul.navbar-nav{
  margin-left:600px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

#banner {
padding-top: 50px;
background-image:url("bgg.jpg");
background-size: cover;
height: 100vh;

}
.big-heading {
font-family: "Ubuntu";
  color: #f9fcfb;
  font-size: 3.5rem;
  line-height: 1.5;
}
.banner-content{
  padding-top: 12%;
    width: 50%;
    margin: auto;
}
h5{
  font-family: "Montserrat-Light";
  color: #ffffff;
}
.content{
  position: relative;
    padding-top: 3%;
    padding-bottom: 6%;
    overflow: hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
a.btn-donate{
     background-color:#a7d129;
     color: #fff;
 }
 .about {
    padding: 7% 10%;
}
p {
  color: #8f8f8f;
}
 #About {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}
 .icon {
   color: #9ede73;
   margin-bottom: 15px;
 }

 .icon:hover {
   color: #a7d129;
 }
.details{
background-image: url(pic2.jpg);
background-size: cover;
background-position: center;
height: 80vh;
}
.btn2{
  color: white;
  text-align: center;
  padding-top:20%;
}
.social-icon {
  margin: 20px 10px;
}
#footer{
  text-align: center;
  padding: 10%;

}
